<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="accountId" name="accountId" th:value="${accountinfo.accountId}" type="hidden">
                        <input id="userId" name="userId" th:value="${accountinfo.userId}" class="form-control" type="hidden">
                        <div class="form-group">
                            <label class="col-sm-3 control-label">用户：</label>
                            <div class="col-sm-8">
                                <input id="username" th:value="${accountinfo.userinfo.nickName}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">交易类型：</label>
                            <div class="col-sm-8">
                                <select id="type" name="type" class="form-control" type="text">
                                    <option value="0" th:selected="${accountinfo.type == 0}">其他</option>
                                    <option value="1" th:selected="${accountinfo.type == 1}">推广任务</option>
                                    <option value="2" th:selected="${accountinfo.type == 2}">直接任务返佣</option>
                                    <option value="3" th:selected="${accountinfo.type == 3}">间接任务返佣</option>
                                    <option value="4" th:selected="${accountinfo.type == 4}">邀请奖励</option>
                                    <option value="5" th:selected="${accountinfo.type == 5}">城主奖励</option>
                                    <option value="6" th:selected="${accountinfo.type == 6}">提现</option>
                                    <option value="7" th:selected="${accountinfo.type == 7}">购物</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">数额：</label>
                            <div class="col-sm-8">
                                <input id="amount" name="amount" th:value="${accountinfo.amount}" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">收益：</label>
                            <div class="col-sm-8">
                                <select id="isGain" name="isGain" th:value="${accountinfo.isGain}" class="form-control" type="text">
                                    <option value="-1" th:selected="${accountinfo.isGain == -1}">减少</option>
                                    <option value="1" th:selected="${accountinfo.isGain == 1}">增加</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" src="/js/appjs/helper/accountinfo/edit.js">
</script>
</body>
</html>
