<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="col-sm-12">
        <div class="ibox">
            <div class="ibox-content">
                <div class="form-group">
                    <label class="col-sm-3 control-label">用户总收益：<span th:text="${totalIncome}"></span></label>
                    <label class="col-sm-3 control-label">用户总提现：<span th:text="${totalWithdraw}"></span></label>
                    <label class="col-sm-3 control-label">系统总收益：<span th:text="${amount}"></span></label>
                    <label class="col-sm-3 control-label">系统总支出：<span th:text="${cost}"></span></label>
                </div>
                <div class="ibox-content" id="requireBox" style="display: none;">
                    <form class="form-horizontal m-t" id="search">
                        <div class="form-group">
                            <label class="col-sm-2 control-label">用户：</label>
                            <div class="col-sm-3">
                                <input id="userId" name="userId" placeholder="" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">交易：</label>
                            <div class="col-sm-3">
                                <input id="typeId" name="typeId" placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">数额：</label>
                            <div class="col-sm-3">
                                <input id="amount" name="amount" placeholder="" class="form-control" type="text">
                            </div>
                            <label class="col-sm-2 control-label">交易类型：</label>
                            <div class="col-sm-3">
                                <select id="type" name="type" class="form-control" type="text">
                                    <option value="">--请选择--</option>
                                    <option value="0">其他</option>
                                    <option value="1">推广任务</option>
                                    <option value="2">直接任务返佣</option>
                                    <option value="3">间接任务返佣</option>
                                    <option value="4">邀请奖励</option>
                                    <option value="5">任务返佣</option>
                                    <option value="6">提现</option>
                                    <option value="7">购物</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">收益：</label>
                            <div class="col-sm-3">
                                <select id="isGain" name="isGain" class="form-control" type="text">
                                    <option value="">--请选择--</option>
                                    <option value="-1">减少</option>
                                    <option value="1">增加</option>
                                </select>
                            </div>
                            <label class="col-sm-2 control-label">状态：</label>
                            <div class="col-sm-3">
                                <select id="visible" name="visible" placeholder="" class="form-control" type="text">
                                    <option value="">--请选择--</option>
                                    <option value="0">禁用</option>
                                    <option value="1">启用</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">操作人：</label>
                            <div class="col-sm-3">
                                <input id="opsUserId" name="opsUserId" placeholder="" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">创建时间：</label>
                            <div class="col-sm-3">
                                <input id="createTimeBegin" name="createTimeBegin" type="text" class="form-control"
                                       placeholder="创建时间始">
                            </div>
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-3">
                                <input id="createTimeEnd" name="createTimeEnd" type="text" class="form-control"
                                       placeholder="创建时间止">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">修改时间：</label>
                            <div class="col-sm-3">
                                <input id="updateTimeBegin" name="updateTimeBegin" type="text" class="form-control"
                                       placeholder="修改时间始">
                            </div>
                            <label class="col-sm-2 control-label"></label>
                            <div class="col-sm-3">
                                <input id="updateTimeEnd" name="updateTimeEnd" type="text" class="form-control"
                                       placeholder="修改时间止">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="ibox-body">
                <div class="fixed-table-toolbar">
                    <div class="columns pull-left">
                        <button shiro:hasPermission="helper:helper:accountinfo:manage:add" type="button" class="btn  btn-primary" onclick="add()">
                            <i class="fa fa-plus" aria-hidden="true"></i>添加
                        </button>
                        <button shiro:hasPermission="helper:helper:accountinfo:manage:batchRemove" type="button" class="btn  btn-danger"
                                onclick="batchRemove()">
                            <i class="fa fa-trash" aria-hidden="true"></i>删除
                        </button>
                    </div>
                    <div class="columns pull-right">
                        <button type="button" class="btn btn-outline dropup" style="border-color: #c2c2c2;outline: none;"
                                onclick="$('#requireBox').slideToggle();">
                            <i class="glyphicon glyphicon-th icon-th"></i>
                            <span class="caret"></span>
                        </button>
                        <button class="btn btn-success" onclick="reLoad()">查询</button>
                        <button class="btn btn-default" onclick="$('#search')[0].reset();">清空</button>
                    </div>
                </div>
                <table id="exampleTable" data-mobile-responsive="false">
                </table>
            </div>
        </div>
    </div>
</div>
<!--shiro控制bootstraptable行内按钮看见性 来自bootdo的创新方案 -->
<div>
    <script type="text/javascript">
        var s_edit_h = 'hidden';
        var s_remove_h = 'hidden';
        var s_resetPwd_h = 'hidden';
    </script>
</div>
<div shiro:hasPermission="helper:helper:accountinfo:manage:edit">
    <script type="text/javascript">
        s_edit_h = '';
    </script>
</div>
<div shiro:hasPermission="helper:helper:accountinfo:manage:remove">
    <script type="text/javascript">
        var s_remove_h = '';
    </script>
</div>
<div shiro:hasPermission="helper:helper:accountinfo:manage:resetPwd">
    <script type="text/javascript">
        var s_resetPwd_h = '';
    </script>
</div>
</div>
<div th:include="include :: footer"></div>
<script type="text/javascript" src="/js/appjs/helper/accountinfo/list.js"></script>
</body>
</html>