<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title></title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        p.MsoNormal {
            margin-bottom: .0001pt;
            text-align: justify;
            text-justify: inter-ideograph;
            font-size: 10.5000pt;
        }

        .OneBlock {
            float: left;
            width: 100%;
            margin-bottom: 2.5vh;
        }

        .InsideDiv {
            padding: 2vh 2vh 4vh 2vh;
        }
    </style>
</head>
<body>
<div class="Section0" style="width: 100%;float: left;">
    <div class="OneBlock">
        <div class="InsideDiv">
            <p class="MsoNormal"><span style="font-size: 2.8vh;"><font>欢迎在微广推手投放广告，您的广告将在数十亿微信朋友圈中曝光，详细联系方式如下：</font></span>
                <span style=" font-size:2.8vh;color:1F1F1F; "><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.8vh;color:1F1F1F; "><o:p>&nbsp;</o:p></span></p>
            <p class=17 style="margin-left:21.0000pt;text-indent:-21.0000pt;  "><![if !supportLists]><span
                    style=" font-size:2.8vh;color:1F1F1F; "><span>1.<span>&nbsp;</span></span></span><![endif]><span style=" font-size:2.8vh;color:1F1F1F; "><font>联系我们</font>QQ：3445979675</span>
                <span style=" font-size:2.8vh;color:1F1F1F; "><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.8vh;color:1F1F1F; "><o:p>&nbsp;</o:p></span></p>
            <p class=17 style="margin-left:21.0000pt;text-indent:-21.0000pt;  "><![if !supportLists]><span
                    style=" font-size:2.8vh;color:1F1F1F; "><span>2.<span>&nbsp;</span></span></span><![endif]><span
                    style=" font-size:2.8vh;color:1F1F1F; "><font>广告投放合作洽谈</font></span>
                <span style=" font-size:2.8vh;color:1F1F1F; "><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.8vh;color:1F1F1F; "><o:p>&nbsp;</o:p></span></p>
            <p class=17 style="margin-left:21.0000pt;text-indent:-21.0000pt;  "><![if !supportLists]><span
                    style=" font-size:2.8vh;color:1F1F1F; "><span>3.<span>&nbsp;</span></span></span><![endif]><span
                    style=" font-size:2.8vh;color:1F1F1F; "><font>合作洽谈成功</font></span>
                <span style=" font-size:2.8vh;color:1F1F1F; "><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.8vh;color:1F1F1F; "><o:p>&nbsp;</o:p></span></p>
            <p class=17 style="margin-left:21.0000pt;text-indent:-21.0000pt;  "><![if !supportLists]><span style=" font-size:2.8vh;color:1F1F1F; ">
		<span>4.<span>&nbsp;</span></span></span><![endif]><span style=" font-size:2.8vh;color:1F1F1F; "><font>广告上线推广</font></span><span style=" font-size:12px;"><o:p></o:p></span>
            </p>
        </div>
    </div>
</div>
</body>
</html>