<html>
<head>
    <meta http-equiv=Content-Type content="text/html; charset=utf-8">
    <title></title>
    <style>
        body {
            margin: 0;
            padding: 0;
        }

        p.MsoNormal {
            margin-bottom: .0001pt;
            text-align: justify;
            text-justify: inter-ideograph;
            font-size: 10.5000pt;
        }

        p.MsoTitle {
            margin-top: 12.0000pt;
            margin-bottom: 3.0000pt;
            text-align: center;
            font-size: 16.0000pt;
        }

        .OneBlock {
            background-color: #fff;
            float: left;
            width: 100%;
            margin-bottom: 2.5vh;
        }

        .InsideDiv {
            padding: 2vh 2vh 4vh 2vh;
        }
    </style>
</head>
<body>
<div style="width:100%;height:120px;background-color:red"></div>
<div class="Section0" style="width: 100%; background-color:#ddd;float: left;">
    <div class="OneBlock">
        <div class="InsideDiv">
            <p class="MsoTitle">
                <span style="font-size: 3.5vh;"><font>微广运营模式</font></span>
            <p class="MsoNormal"><span style="font-size: 2.7vh;">1.商家投放广告</span>
                <span style="font-size: 2.7vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>广告商在平台发布有偿广告任务</font>,支付广告佣金。</span>
                <span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><o:p>&nbsp;</o:p></span></p>
            <p class="MsoNormal"><span style="font-size: 2.7vh;">2.用户成为推手</span>
                <span style="font-size: 2.7vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>注册成为用户，购买</font>128会员礼包成为金牌推手；购买998高级会员礼包成为钻石推手。</span>
                <span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><o:p>&nbsp;</o:p></span></p>
            <p class="MsoNormal"><span style="font-size: 2.7vh;">3.领任务赚佣金</span>
                <span style="font-size: 2.7vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>金牌推手和钻石推手在任务大厅领取广告商发布的广告任务，发朋友圈做任务，赚取佣金。</font></span>
                <span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
        </div>
    </div>

    <div class="OneBlock">
        <div class="InsideDiv">
            <p class="MsoTitle"><span style="font-size: 3.5vh;"><font>做任务赚佣金</font></span>
                <span style="font-size: 3.5vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style="font-size: 2.7vh;"><font>金牌推手</font></span>
                <span style="font-size: 2.7vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>自己做任务可获得</font></span>
                <span style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">8元/天</span>
                <span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>直接邀请的好友做任务可获得返现</font></span>
                <span style=" color:rgb(255,0,0);font-size:2.4vh;color:#f00;">4元/天</span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>好友邀请的好友做任务可获得返现</font></span>
                <span style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">2元/天</span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><o:p>&nbsp;</o:p></span></p>
            <p class="MsoNormal"><span style="font-size: 2.7vh;"><font>钻石推手</font></span><span style="font-size: 2.7vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>自己做任务可获得</font></span><span
                    style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">40元/天</span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>直接邀请的钻石好友做任务可获得返现</font></span><span style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">20元/天</span><span
                    style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>直接邀请的黄金好友做任务可获得返现</font></span>
                <span style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">4元/天</span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>钻石好友邀请的钻石好友做任务可获得返现</font></span><span
                    style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">10元/天</span>
                <span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>钻石好友邀请的黄金好友做任务可获得返现</font></span><span
                    style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">2元/天</span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>黄金好友邀请的黄金或钻石好友做任务可获得返现</font></span><span
                    style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">2元/天</span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
        </div>
    </div>

    <div class="OneBlock">
        <div class="InsideDiv">
            <p class="MsoTitle"><span style="font-size: 3.5vh;"><font>邀请好友赚佣金</font></span><span style="font-size: 3.5vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style="font-size: 2.7vh;"><font>金牌推手</font></span><span style="font-size: 2.7vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>直推一名金牌推手，可获奖励</font></span><span
                    style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">8元/人</span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>直推一名钻石推手，可获奖励</font></span><span
                    style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">8元/人</span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><o:p>&nbsp;</o:p></span></p>
            <p class="MsoNormal"><span style="font-size: 2.7vh;"><font>钻石推手</font></span><span style="font-size: 2.7vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>直推一名金牌推手，可获奖励</font></span><span
                    style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">8元/人</span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>直推一名钻石推手，可获奖励</font></span><span style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">80元/人</span><span
                    style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><o:p>&nbsp;</o:p></span></p>
            <p class="MsoNormal"><span style=" color:rgb(255,0,0);font-size:2.2vh;color: #737373; "><font color="#f00">注：邀请好友越多奖励越多，上不封顶。</font></span>
        </div>
    </div>

    <div class="OneBlock" style="margin-bottom: 0">
        <div class="InsideDiv">
            <span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoTitle"><span style="font-size: 3.5vh;"><font>升级城主奖励</font></span><span style="font-size: 3.5vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style="font-size: 2.7vh;"><font>金牌城主</font></span><span style="font-size: 2.7vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>金牌推手或钻石推手直推</font></span><span
                    style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">50名</span><span style=" font-size:2.4vh;color: #737373;"><font>金牌推手，升级为金牌城主</font></span>
                <span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>金牌城主的团队每新增一名推手（直推用户除外）</font></span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span>
            </p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>金牌城主均可获得</font></span><span style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">2元</span><span
                    style=" font-size:2.4vh;color: #737373;"><font>奖励。</font></span>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><o:p>&nbsp;</o:p></span></p>
            <p class="MsoNormal"><span style="font-size: 2.7vh;"><font>钻石城主</font></span><span style="font-size: 2.7vh;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>钻石推手直推</font></span><span
                    style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">20名</span><span style=" font-size:2.4vh;color: #737373;"><font>钻石推手，升级为钻石城主</font></span>
                <span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span></p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>钻石城主的团队每新增一名钻石推手（直推用户除外）</font></span><span style=" font-size:2.4vh;color: #737373;"><o:p></o:p></span>
            </p>
            <p class="MsoNormal"><span style=" font-size:2.4vh;color: #737373;"><font>钻石城主可获得</font></span><span style=" color:rgb(255,0,0);font-size:2.4vh;color: #f00;">20元</span><span
                    style=" font-size:2.4vh;color: #737373;"><font>奖励。</font></span>
        </div>
    </div>

</div>
</body>
</html>