$().ready(function() {
	validateRule();
#foreach($column in $columns)#if($column.dataType == 'datetime')
	iniLayDateTime('${column.attrname}');	
#end#end
});

$.validator.setDefaults({
	submitHandler : function() {
		update();
	}
});
function update() {
	$.ajax({
		cache : true,
		type : "POST",
		url : "/${project}/${classname}/update",
		data : $('#signupForm').serialize(),// 你的formid
		async : false,
		error : function(request) {
			parent.layer.alert("Connection error");
		},
		success : function(data) {
			if (data.code == 1) {
				parent.layer.msg("操作成功");
				parent.reLoad();
				var index = parent.layer.getFrameIndex(window.name); // 获取窗口索引
				parent.layer.close(index);

			} else {
				parent.layer.alert(data.msg)
			}

		}
	});

}
function validateRule() {
	
	$("#signupForm").validate({
		rules : {
			
			#foreach($column in $columns)
${column.attrname} : {
				required : true,
				#if($column.dataType == 'int'||$column.dataType == 'tinyint')
number: true,
#elseif($column.dataType == 'varchar')
maxlength:256,
#end
			},
			#end
								
		}
	})
}