<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earn.helper.mapper.OrderinfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.earn.helper.entity.Orderinfo">
        <id column="order_id" property="orderId"/>
        <result column="order_no" property="orderNo"/>
        <result column="product_unit_price" property="productUnitPrice"/>
        <result column="product_count" property="productCount"/>
        <result column="pay_time" property="payTime"/>
        <result column="post_type" property="postType"/>
        <result column="post_no" property="postNo"/>
        <result column="post_time" property="postTime"/>
        <result column="status" property="status"/>
        <result column="visible" property="visible"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="userinfo" javaType="com.earn.helper.entity.Userinfo">
            <id column="USER_ID" property="userId"/>
            <result column="USER_NICK_NAME" property="nickName"/>
        </association>
        <association property="address" javaType="com.earn.helper.entity.Address">
            <id column="ADDR_ID" property="addrId"/>
            <result column="PROVINCE" property="province"/>
            <result column="AREA" property="area"/>
            <result column="TOWN" property="town"/>
            <result column="DETAIL" property="detail"/>
            <result column="RECEIVER_NAME" property="receiverName"/>
            <result column="RECEIVER_PHONE" property="receiverPhone"/>
        </association>
        <association property="product" javaType="com.earn.helper.entity.Product">
            <id column="PRODUCT_ID" property="productId"/>
            <result column="PRODUCT_NAME" property="productName"/>
            <result column="PRODUCT_IMG_PATH" property="imgPath"/>
            <result column="PRODUCT_PRICE" property="productPrice"/>
            <result column="PREFERENTIAL_PRICE" property="preferentialPrice"/>
        </association>
        <association property="opsUserinfo" javaType="com.earn.helper.entity.Userinfo">
            <id column="USER_ID" property="userId"/>
            <result column="NICK_NAME" property="nickName"/>
        </association>
    </resultMap>
    <select id="selectListPage" resultMap="BaseResultMap">
        select a.*, b.nick_name as user_nick_name, c.product_name, c.img_path as product_img_path, c.product_price, c.PREFERENTIAL_PRICE,
        d.province, d.area, d.town, d.detail, d.receiver_name, d.receiver_phone, u.nick_name
        from `orderinfo` a
        left join userinfo b on a.USER_ID = b.USER_ID
        left join product c on a.PRODUCT_ID = c.PRODUCT_ID
        left join address d on a.ADDR_ID = d.ADDR_ID
        left join userinfo u on a.OPS_USER_ID = u.USER_ID
        <where>
            <if test="orderinfo.orderId != null">
                and a.ORDER_ID = #{orderinfo.orderId,jdbcType=INTEGER}
            </if>
            <if test="orderinfo.orderNo != null">
                and a.ORDER_NO = #{orderinfo.orderNo,jdbcType=VARCHAR}
            </if>
            <if test="orderinfo.userinfo != null and orderinfo.userinfo.userId != null">
                and a.USER_ID = #{orderinfo.userId,jdbcType=INTEGER}
            </if>
            <if test="orderinfo.address != null and orderinfo.address.addrId != null">
                and a.ADDR_ID = #{orderinfo.addrId,jdbcType=INTEGER}
            </if>
            <if test="orderinfo.product != null and orderinfo.product.productId != null">
                and a.PRODUCT_ID = #{orderinfo.productId,jdbcType=INTEGER}
            </if>
            <if test="orderinfo.payTime != null">
                and a.PAY_TIME = #{orderinfo.payTime,jdbcType=TIMESTAMP}
            </if>
            <if test="orderinfo.postType != null">
                and a.POST_TYPE = #{orderinfo.postType,jdbcType=INTEGER}
            </if>
            <if test="orderinfo.postNo != null">
                and a.POST_NO = #{orderinfo.postNo,jdbcType=VARCHAR}
            </if>
            <if test="orderinfo.postTime != null">
                and a.POST_TIME = #{orderinfo.postTime,jdbcType=TIMESTAMP}
            </if>
            <if test="orderinfo.status != null">
                and a.STATUS = #{orderinfo.status,jdbcType=TIMESTAMP}
            </if>
            <if test="orderinfo.visible != null">
                and a.VISIBLE = #{orderinfo.visible,jdbcType=INTEGER}
            </if>
            <if test="orderinfo.opsUserinfo != null and orderinfo.opsUserinfo.userId != null">
                and a.OPS_USER_ID = #{orderinfo.opsUserinfo.userId,jdbcType=INTEGER}
            </if>
            <if test="orderinfo.createTime != null">
                and a.CREATE_TIME = #{orderinfo.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="orderinfo.updateTime != null">
                and a.UPDATE_TIME = #{orderinfo.updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by a.ORDER_ID desc
    </select>
    <select id="getOrderById" resultMap="BaseResultMap">
        select
            a.*,
            b.nick_name as user_nick_name,
            c.product_name,
            c.img_path as product_img_path,
            c.product_price,
            c.PREFERENTIAL_PRICE,
            d.province,
            d.area,
            d.town,
            d.detail,
            d.receiver_name,
            d.receiver_phone,
            u.nick_name
        from `orderinfo` a
            left join userinfo b on a.USER_ID = b.USER_ID
            left join product c on a.PRODUCT_ID = c.PRODUCT_ID
            left join address d on a.ADDR_ID = d.ADDR_ID
            left join userinfo u on a.OPS_USER_ID = u.USER_ID
        where
            a.order_id = #{id}
    </select>
</mapper>
