<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.earn.helper.mapper.ProductMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.earn.helper.entity.Product">
        <id column="PRODUCT_ID" property="productId"/>
        <result column="PRODUCT_NAME" property="productName"/>
        <result column="PRODUCT_PRICE" property="productPrice"/>
        <result column="PREFERENTIAL_PRICE" property="preferentialPrice"/>
        <result column="IMG_PATH" property="imgPath"/>
        <result column="IMG_PATHS" property="imgPaths"/>
        <result column="SPECIFICATION" property="specification"/>
        <result column="INTRODUCTION" property="introduction"/>
        <result column="CONTENT" property="content"/>
        <result column="PRODUCT_TYPE" property="productType"/>
        <result column="VISIBLE" property="visible"/>
        <result column="CREATE_TIME" property="createTime"/>
        <result column="UPDATE_TIME" property="updateTime"/>
        <association property="opsUserinfo" javaType="com.earn.helper.entity.Userinfo">
            <id column="USER_ID" property="userId"/>
            <result column="NICK_NAME" property="nickName"/>
        </association>
    </resultMap>

    <select id="selectListPage" resultMap="BaseResultMap">
        select a.product_id, a.product_name, a.img_path, a.img_paths, a.product_price, a.preferential_price from product a left join
        userinfo u on a.OPS_USER_ID = u.USER_ID
        <where>
            <if test="product.productId != null">
                and a.PRODUCT_ID = #{product.productId,jdbcType=INTEGER}
            </if>
            <if test="product.productName != null">
                and a.PRODUCT_NAME = #{productName,jdbcType=VARCHAR}
            </if>
            <if test="product.productPrice != null">
                and a.PRODUCT_PRICE = #{product.productPrice,jdbcType=INTEGER}
            </if>
            <if test="product.preferentialPrice != null">
                and a.PREFERENTIAL_PRICE = #{product.preferentialPrice,jdbcType=INTEGER}
            </if>
            <if test="product.productType != null">
                and a.PRODUCT_TYPE = #{product.productType,jdbcType=VARCHAR}
            </if>
            <if test="product.visible != null">
                and a.VISIBLE = #{product.visible,jdbcType=INTEGER}
            </if>
            <if test="product.opsUserinfo != null and product.opsUserinfo.userId != null">
                and a.OPS_USER_ID = #{product.opsUserinfo.userId,jdbcType=INTEGER}
            </if>
            <if test="product.createTime != null">
                and a.CREATE_TIME = #{product.createTime,jdbcType=TIMESTAMP}
            </if>
            <if test="product.updateTime != null">
                and a.UPDATE_TIME = #{product.updateTime,jdbcType=TIMESTAMP}
            </if>
        </where>
        order by a.PRODUCT_ID desc
    </select>
</mapper>
