<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earn.helper.system.mapper.AddressDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.earn.helper.entity.Address">
        <id column="addr_id" property="addrId"/>
        <result column="user_id" property="userId"/>
        <result column="receiver_name" property="receiverName"/>
        <result column="receiver_phone" property="receiverPhone"/>
        <result column="province" property="province"/>
        <result column="area" property="area"/>
        <result column="town" property="town"/>
        <result column="detail" property="detail"/>
        <result column="default_addr" property="defaultAddr"/>
        <result column="visible" property="visible"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="userinfo" javaType="com.earn.helper.entity.Userinfo">
            <result column="NICK_NAME" property="nickName"/>
        </association>
        <association property="opsUserinfo" javaType="com.earn.helper.entity.Userinfo">
            <result column="OPS_NICK_NAME" property="nickName"/>
        </association>
    </resultMap>

    <select id="get" resultMap="BaseResultMap">
        select
            a.*,
            b.nick_name,
            u.nick_name as ops_nick_name
        from `address` a
            left join userinfo b on a.USER_ID = b.USER_ID
            left join userinfo u on a.OPS_USER_ID = u.USER_ID
        where addr_id = #{value}
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        a.*,
        b.nick_name,
        u.nick_name as ops_nick_name
        from `address` a
        left join userinfo b on a.USER_ID = b.USER_ID
        left join userinfo u on a.OPS_USER_ID = u.USER_ID
        <where>
            <if test="addrId != null and addrId != ''">and a.addr_id = #{addrId}</if>
            <if test="userId != null and userId != ''">and a.user_id = #{userId}</if>
            <if test="receiverName != null and receiverName != ''">and a.receiver_name = #{receiverName}</if>
            <if test="receiverPhone != null and receiverPhone != ''">and a.receiver_phone = #{receiverPhone}</if>
            <if test="province != null and province != ''">and a.province = #{province}</if>
            <if test="area != null and area != ''">and a.area = #{area}</if>
            <if test="town != null and town != ''">and a.town = #{town}</if>
            <if test="detail != null and detail != ''">and a.detail = #{detail}</if>
            <if test="defaultAddr != null and defaultAddr != ''">and a.default_addr = #{defaultAddr}</if>
            <if test="visible != null and visible != ''">and a.visible = #{visible}</if>
            <if test="opsUserId != null and opsUserId != ''">and a.ops_user_id = #{opsUserId}</if>
            <if test="createTime != null and createTime != ''">and a.create_time = #{createTime}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and a.create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and a.create_time &lt;= #{createTimeEnd}</if>
            <if test="updateTime != null and updateTime != ''">and a.update_time = #{updateTime}</if>
            <if test="updateTimeBegin != null and updateTimeBegin != ''">and a.update_time >= #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd != ''">and a.update_time &lt;= #{updateTimeEnd}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by addr_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from address
        <where>
            <if test="addrId != null and addrId != ''">and addr_id = #{addrId}</if>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="receiverName != null and receiverName != ''">and receiver_name = #{receiverName}</if>
            <if test="receiverPhone != null and receiverPhone != ''">and receiver_phone = #{receiverPhone}</if>
            <if test="province != null and province != ''">and province = #{province}</if>
            <if test="area != null and area != ''">and area = #{area}</if>
            <if test="town != null and town != ''">and town = #{town}</if>
            <if test="detail != null and detail != ''">and detail = #{detail}</if>
            <if test="defaultAddr != null and defaultAddr != ''">and default_addr = #{defaultAddr}</if>
            <if test="visible != null and visible != ''">and visible = #{visible}</if>
            <if test="opsUserId != null and opsUserId != ''">and ops_user_id = #{opsUserId}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and create_time &lt;= #{createTimeEnd}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="updateTimeBegin != null and updateTimeBegin != ''">and update_time >= #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd != ''">and update_time &lt;= #{updateTimeEnd}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.earn.helper.entity.Address" useGeneratedKeys="true" keyProperty="addrId">
        insert into address
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">`user_id`,</if>
            <if test="receiverName != null">`receiver_name`,</if>
            <if test="receiverPhone != null">`receiver_phone`,</if>
            <if test="province != null">`province`,</if>
            <if test="area != null">`area`,</if>
            <if test="town != null">`town`,</if>
            <if test="detail != null">`detail`,</if>
            <if test="defaultAddr != null">`default_addr`,</if>
            <if test="visible != null">`visible`,</if>
            <if test="opsUserId != null">`ops_user_id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="userId != null">#{userId},</if>
            <if test="receiverName != null">#{receiverName},</if>
            <if test="receiverPhone != null">#{receiverPhone},</if>
            <if test="province != null">#{province},</if>
            <if test="area != null">#{area},</if>
            <if test="town != null">#{town},</if>
            <if test="detail != null">#{detail},</if>
            <if test="defaultAddr != null">#{defaultAddr},</if>
            <if test="visible != null">#{visible},</if>
            <if test="opsUserId != null">#{opsUserId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.earn.helper.entity.Address">
        update address
        <set>
            <if test="userId != null">`user_id` = #{userId},</if>
            <if test="receiverName != null">`receiver_name` = #{receiverName},</if>
            <if test="receiverPhone != null">`receiver_phone` = #{receiverPhone},</if>
            <if test="province != null">`province` = #{province},</if>
            <if test="area != null">`area` = #{area},</if>
            <if test="town != null">`town` = #{town},</if>
            <if test="detail != null">`detail` = #{detail},</if>
            <if test="defaultAddr != null">`default_addr` = #{defaultAddr},</if>
            <if test="visible != null">`visible` = #{visible},</if>
            <if test="opsUserId != null">`ops_user_id` = #{opsUserId},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
        </set>
        where addr_id = #{addrId}
    </update>

    <delete id="remove">
        delete from address
        where addr_id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from address where addr_id in
        <foreach item="addrId" collection="array" open="(" separator="," close=")">
            #{addrId}
        </foreach>
    </delete>

</mapper>