<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earn.helper.system.mapper.TaskDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.earn.helper.entity.Task">
        <id column="task_id" property="taskId"/>
        <result column="task_type" property="taskType"/>
        <result column="task_title" property="taskTitle"/>
        <result column="task_content" property="taskContent"/>
        <result column="task_level" property="taskLevel"/>
        <result column="reward" property="reward"/>
        <result column="img_paths" property="imgPaths"/>
        <result column="start_time" property="startTime"/>
        <result column="end_time" property="endTime"/>
        <result column="status" property="status"/>
        <result column="visible" property="visible"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="opsUserinfo" javaType="com.earn.helper.entity.Userinfo">
            <id column="OPS_USER_ID" property="userId"/>
            <result column="NICK_NAME" property="nickName"/>
        </association>
    </resultMap>

    <select id="get" resultMap="BaseResultMap">
        select
            t.*,
            o.user_id as ops_user_id,
            o.nick_name
        from task t
            LEFT JOIN userinfo o ON t.OPS_USER_ID = o.USER_ID
        where task_id = #{value}
    </select>

    <select id="list" resultMap="BaseResultMap">
        select
        t.*,
        o.user_id as ops_user_id,
        o.nick_name
        from task t
        LEFT JOIN userinfo o ON t.OPS_USER_ID = o.USER_ID
        <where>
            <if test="taskId != null and taskId != ''">and task_id = #{taskId}</if>
            <if test="taskType != null and taskType != ''">and task_type = #{taskType.ordinal}</if>
            <if test="taskTitle != null and taskTitle != ''">and task_title = #{taskTitle}</if>
            <if test="taskContent != null and taskContent != ''">and task_content = #{taskContent}</if>
            <if test="taskLevel != null and taskLevel != ''">and task_level = #{taskLevel}</if>
            <if test="reward != null and reward != ''">and reward = #{reward}</if>
            <if test="imgPaths != null and imgPaths != ''">and img_paths = #{imgPaths}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="startTimeBegin != null and startTimeBegin != ''">and start_time >= #{startTimeBegin}</if>
            <if test="startTimeEnd != null and startTimeEnd != ''">and start_time &lt;= #{startTimeEnd}</if>
            <if test="endTime != null and endTime != ''">and end_time = #{endTime}</if>
            <if test="endTimeBegin != null and endTimeBegin != ''">and end_time >= #{endTimeBegin}</if>
            <if test="endTimeEnd != null and endTimeEnd != ''">and end_time &lt;= #{endTimeEnd}</if>
            <if test="visible != null and visible != ''">and visible = #{visible}</if>
            <if test="opsUserId != null and opsUserId != ''">and ops_user_id = #{opsUserId}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and create_time &lt;= #{createTimeEnd}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="updateTimeBegin != null and updateTimeBegin != ''">and update_time >= #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd != ''">and update_time &lt;= #{updateTimeEnd}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by task_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from task
        <where>
            <if test="taskId != null and taskId != ''">and task_id = #{taskId}</if>
            <if test="taskType != null and taskType != ''">and task_type = #{taskType.ordinal}</if>
            <if test="taskTitle != null and taskTitle != ''">and task_title = #{taskTitle}</if>
            <if test="taskContent != null and taskContent != ''">and task_content = #{taskContent}</if>
            <if test="taskLevel != null and taskLevel != ''">and task_level = #{taskLevel}</if>
            <if test="reward != null and reward != ''">and reward = #{reward}</if>
            <if test="imgPaths != null and imgPaths != ''">and img_paths = #{imgPaths}</if>
            <if test="startTime != null and startTime != ''">and start_time = #{startTime}</if>
            <if test="startTimeBegin != null and startTimeBegin != ''">and start_time >= #{startTimeBegin}</if>
            <if test="startTimeEnd != null and startTimeEnd != ''">and start_time &lt;= #{startTimeEnd}</if>
            <if test="endTime != null and endTime != ''">and end_time = #{endTime}</if>
            <if test="endTimeBegin != null and endTimeBegin != ''">and end_time >= #{endTimeBegin}</if>
            <if test="endTimeEnd != null and endTimeEnd != ''">and end_time &lt;= #{endTimeEnd}</if>
            <if test="visible != null and visible != ''">and visible = #{visible}</if>
            <if test="opsUserId != null and opsUserId != ''">and ops_user_id = #{opsUserId}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and create_time &lt;= #{createTimeEnd}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="updateTimeBegin != null and updateTimeBegin != ''">and update_time >= #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd != ''">and update_time &lt;= #{updateTimeEnd}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.earn.helper.entity.Task" useGeneratedKeys="true" keyProperty="taskId">
        insert into task
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskType != null">`task_type`,</if>
            <if test="taskTitle != null">`task_title`,</if>
            <if test="taskContent != null">`task_content`,</if>
            <if test="taskLevel != null">`task_level`,</if>
            <if test="reward != null">`reward`,</if>
            <if test="imgPaths != null">`img_paths`,</if>
            <if test="startTime != null">`start_time`,</if>
            <if test="endTime != null">`end_time`,</if>
            <if test="visible != null">`visible`,</if>
            <if test="opsUserId != null">`ops_user_id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="taskType != null">#{taskType.ordinal},</if>
            <if test="taskTitle != null">#{taskTitle},</if>
            <if test="taskContent != null">#{taskContent},</if>
            <if test="taskLevel != null">#{taskLevel},</if>
            <if test="reward != null">#{reward},</if>
            <if test="imgPaths != null">#{imgPaths},</if>
            <if test="startTime != null">#{startTime},</if>
            <if test="endTime != null">#{endTime},</if>
            <if test="visible != null">#{visible},</if>
            <if test="opsUserId != null">#{opsUserId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.earn.helper.entity.Task">
        update task
        <set>
            <if test="taskType != null">`task_type` = #{taskType.ordinal},</if>
            <if test="taskTitle != null">`task_title` = #{taskTitle},</if>
            <if test="taskContent != null">`task_content` = #{taskContent},</if>
            <if test="taskLevel != null">`task_level` = #{taskLevel},</if>
            <if test="reward != null">`reward` = #{reward},</if>
            <if test="imgPaths != null">`img_paths` = #{imgPaths},</if>
            <if test="startTime != null">`start_time` = #{startTime},</if>
            <if test="endTime != null">`end_time` = #{endTime},</if>
            <if test="visible != null">`visible` = #{visible},</if>
            <if test="opsUserId != null">`ops_user_id` = #{opsUserId},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
        </set>
        where task_id = #{taskId}
    </update>

    <delete id="remove">
        delete from task
        where task_id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from task where task_id in
        <foreach item="taskId" collection="array" open="(" separator="," close=")">
            #{taskId}
        </foreach>
    </delete>

</mapper>