<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.earn.helper.system.mapper.UserinfoDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.earn.helper.entity.Userinfo">
        <id column="user_id" property="userId"/>
        <result column="parent_id" property="parentId"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="account_password" property="accountPassword"/>
        <result column="nick_name" property="nickName"/>
        <result column="img_path" property="imgPath"/>
        <result column="id_Card" property="idCard"/>
        <result column="phone" property="phone"/>
        <result column="rcode" property="rcode"/>
        <result column="vip_level" property="vipLevel"/>
        <result column="castellan_level" property="castellanLevel"/>
        <result column="visible" property="visible"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <association property="parent" javaType="com.earn.helper.entity.Userinfo">
            <id column="PARENT_ID" property="userId"/>
            <result column="PARENT_NAME" property="nickName"/>
        </association>
        <association property="opsUserinfo" javaType="com.earn.helper.entity.Userinfo">
            <id column="OPS_USER_ID" property="userId"/>
            <result column="OPS_NICK_NAME" property="nickName"/>
        </association>
    </resultMap>

    <select id="get" resultMap="BaseResultMap">
        SELECT
            u.*,
            ( SELECT count( * ) FROM `task_record` r LEFT JOIN task t ON r.task_id = t.task_id WHERE r.user_id = u.user_id AND r.issue = date_format( sysdate( ), '%Y%m%d' ) AND t.task_level = 2 ) AS gold_count,
            ( SELECT count( * ) FROM `task_record` r LEFT JOIN task t ON r.task_id = t.task_id WHERE r.user_id = u.user_id AND r.issue = date_format( sysdate( ), '%Y%m%d' ) AND t.task_level = 3 ) AS diamond_count,
            p.user_id AS parent_id,
            p.nick_name AS parent_name,
            o.user_id AS ops_user_id,
            o.nick_name AS ops_nick_name
        FROM
            userinfo u
            LEFT JOIN userinfo o ON o.user_id = u.ops_user_id
            LEFT JOIN userinfo p ON p.user_id = u.parent_id
        where u.user_id = #{value}
    </select>

    <select id="list" resultMap="BaseResultMap">
        SELECT
            u.*,
            ( SELECT count( * ) FROM `task_record` r LEFT JOIN task t ON r.task_id = t.task_id WHERE r.user_id = u.user_id AND r.issue = date_format( sysdate( ), '%Y%m%d' ) AND t.task_level = 2 ) AS gold_count,
            ( SELECT count( * ) FROM `task_record` r LEFT JOIN task t ON r.task_id = t.task_id WHERE r.user_id = u.user_id AND r.issue = date_format( sysdate( ), '%Y%m%d' ) AND t.task_level = 3 ) AS diamond_count,
            p.user_id AS parent_id,
            p.nick_name AS parent_name,
            o.user_id AS ops_user_id,
            o.nick_name AS ops_nick_name
        FROM
            userinfo u
            LEFT JOIN userinfo o ON o.user_id = u.ops_user_id
            LEFT JOIN userinfo p ON p.user_id = u.parent_id
        <where>
            <if test="userId != null and userId != ''">and u.user_id = #{userId}</if>
            <if test="parentId != null and parentId != ''">and u.parent_id = #{parentId}</if>
            <if test="username != null and username != ''">and u.username = #{username}</if>
            <if test="password != null and password != ''">and u.password = #{password}</if>
            <if test="accountPassword != null and accountPassword != ''">and u.account_password = #{accountPassword}</if>
            <if test="nickName != null and nickName != ''">and u.nick_name = #{nickName}</if>
            <if test="imgPath != null and imgPath != ''">and u.img_path = #{imgPath}</if>
            <if test="idCard != null and idCard != ''">and u.id_card = #{idCard}</if>
            <if test="phone != null and phone != ''">and u.phone = #{phone}</if>
            <if test="rcode != null and rcode != ''">and u.rcode = #{rcode}</if>
            <if test="vipLevel != null and vipLevel != ''">and u.vip_level = #{vipLevel}</if>
            <if test="castellanLevel != null and castellanLevel != ''">and u.castellan_level = #{castellanLevel}</if>
            <if test="visible != null and visible != ''">and u.visible = #{visible}</if>
            <if test="opsUserId != null and opsUserId != ''">and u.ops_user_id = #{opsUserId}</if>
            <if test="createTime != null and createTime != ''">and u.create_time = #{createTime}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and u.create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and u.create_time &lt;= #{createTimeEnd}</if>
            <if test="updateTime != null and updateTime != ''">and u.update_time = #{updateTime}</if>
            <if test="updateTimeBegin != null and updateTimeBegin != ''">and u.update_time >= #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd != ''">and u.update_time &lt;= #{updateTimeEnd}</if>
        </where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
            <otherwise>
                order by user_id desc
            </otherwise>
        </choose>
        <if test="offset != null and limit != null">
            limit #{offset}, #{limit}
        </if>
    </select>

    <select id="count" resultType="int">
        select count(*) from userinfo
        <where>
            <if test="userId != null and userId != ''">and user_id = #{userId}</if>
            <if test="parentId != null and parentId != ''">and parent_id = #{parentId}</if>
            <if test="username != null and username != ''">and username = #{username}</if>
            <if test="password != null and password != ''">and password = #{password}</if>
            <if test="accountPassword != null and accountPassword != ''">and account_password = #{accountPassword}</if>
            <if test="nickName != null and nickName != ''">and nick_name = #{nickName}</if>
            <if test="imgPath != null and imgPath != ''">and img_path = #{imgPath}</if>
            <if test="idCard != null and idCard != ''">and id_card = #{idCard}</if>
            <if test="phone != null and phone != ''">and phone = #{phone}</if>
            <if test="rcode != null and rcode != ''">and rcode = #{rcode}</if>
            <if test="vipLevel != null and vipLevel != ''">and vip_level = #{vipLevel}</if>
            <if test="castellanLevel != null and castellanLevel != ''">and castellan_level = #{castellanLevel}</if>
            <if test="visible != null and visible != ''">and visible = #{visible}</if>
            <if test="opsUserId != null and opsUserId != ''">and ops_user_id = #{opsUserId}</if>
            <if test="createTime != null and createTime != ''">and create_time = #{createTime}</if>
            <if test="createTimeBegin != null and createTimeBegin != ''">and create_time >= #{createTimeBegin}</if>
            <if test="createTimeEnd != null and createTimeEnd != ''">and create_time &lt;= #{createTimeEnd}</if>
            <if test="updateTime != null and updateTime != ''">and update_time = #{updateTime}</if>
            <if test="updateTimeBegin != null and updateTimeBegin != ''">and update_time >= #{updateTimeBegin}</if>
            <if test="updateTimeEnd != null and updateTimeEnd != ''">and update_time &lt;= #{updateTimeEnd}</if>
        </where>
    </select>

    <insert id="save" parameterType="com.earn.helper.entity.Userinfo" useGeneratedKeys="true" keyProperty="userId">
        insert into userinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">`parent_id`,</if>
            <if test="username != null">`username`,</if>
            <if test="password != null">`password`,</if>
            <if test="accountPassword != null">`account_password`,</if>
            <if test="nickName != null">`nick_name`,</if>
            <if test="imgPath != null">`img_path`,</if>
            <if test="idCard != null">`id_card`,</if>
            <if test="phone != null">`phone`,</if>
            <if test="rcode != null">`rcode`,</if>
            <if test="vipLevel != null">`vip_level`,</if>
            <if test="castellanLevel != null">`castellan_level`,</if>
            <if test="visible != null">`visible`,</if>
            <if test="opsUserId != null">`ops_user_id`,</if>
            <if test="createTime != null">`create_time`,</if>
            <if test="updateTime != null">`update_time`,</if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="parentId != null">#{parentId},</if>
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="accountPassword != null">#{accountPassword},</if>
            <if test="nickName != null">#{nickName},</if>
            <if test="imgPath != null">#{imgPath},</if>
            <if test="idCard != null">#{idCard},</if>
            <if test="phone != null">#{phone},</if>
            <if test="rcode != null">#{rcode},</if>
            <if test="vipLevel != null">#{vipLevel},</if>
            <if test="castellanLevel != null">#{castellanLevel},</if>
            <if test="visible != null">#{visible},</if>
            <if test="opsUserId != null">#{opsUserId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="update" parameterType="com.earn.helper.entity.Userinfo">
        update userinfo
        <set>
            <if test="parentId != null">`parent_id` = #{parentId},</if>
            <if test="username != null">`username` = #{username},</if>
            <if test="password != null">`password` = #{password},</if>
            <if test="accountPassword != null">`account_password` = #{accountPassword},</if>
            <if test="nickName != null">`nick_name` = #{nickName},</if>
            <if test="imgPath != null">`img_path` = #{imgPath},</if>
            <if test="idCard != null">`id_card` = #{idCard},</if>
            <if test="phone != null">`phone` = #{phone},</if>
            <if test="rcode != null">`rcode` = #{rcode},</if>
            <if test="vipLevel != null">`vip_level` = #{vipLevel},</if>
            <if test="castellanLevel != null">`castellan_level` = #{castellanLevel},</if>
            <if test="visible != null">`visible` = #{visible},</if>
            <if test="opsUserId != null">`ops_user_id` = #{opsUserId},</if>
            <if test="createTime != null">`create_time` = #{createTime},</if>
            <if test="updateTime != null">`update_time` = #{updateTime},</if>
        </set>
        where user_id = #{userId}
    </update>

    <delete id="remove">
        delete from userinfo
        where user_id = #{value}
    </delete>

    <delete id="batchRemove">
        delete from userinfo where user_id in
        <foreach item="userId" collection="array" open="(" separator="," close=")">
            #{userId}
        </foreach>
    </delete>

</mapper>